
<DOCTYPE! html>
<head>

</head>

<body>
  <h1>Sign Up Below:</h1>
<<<<<<< HEAD
    <form action="/registrations" method="post">
=======
  <form action="/registrations" method="post">
>>>>>>> a7ecd09d4e62843cb366fc0d0476e91e15bed035
      <label>Name: </label><input type="text" name="name"><br>
      <label>Email: </label><input type="text" name="email"><br>
      <label>Password: </label><input type="text" name="password"><br>

<<<<<<< HEAD
      <button type="submit" value="submit">Sign Up</button>
=======
      <button type="submit" value="submit">Submit</button>
>>>>>>> a7ecd09d4e62843cb366fc0d0476e91e15bed035
      <!-- <input type="Submit" name="Submit"> -->
    </form>
</body>

</html>
